version: '3.8'
services:
  app:
    build: .
    ports:
      - "5055:5055"
    environment:
      MONGO_URI: mongodb://mongo:27017/menuapp
    depends_on:
      - mongo
    volumes:
      - .:/app
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: